* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  
}
.app__header {
  /*position: sticky;
  top:0;
  z-index: 1; */
  background-color: white;
  object-fit: contain; 
  max-width: 100%;
  padding: 25px;
  border-bottom: 1px solid lightgray;
  display: flex;
  
  justify-content: space-between;
  /* display: block; 
  object-fit: cover;
  max-width:230px;
  max-height:95px; */
  width: 500px; 
  height: 50px;
}

.app__headerImage {
  max-width: 200%;
  object-fit: contain;
}
.app__headerImage1 {
  max-width: 50%;
  object-fit: contain;
}

.app__signup {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__postsRight  {
  margin-right: 100px;
}